<ul>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">RSS</a></li>
    <li><a href="https://twitter.com/iffsti" target="_blank">
        Twitter
    </a></li>
    <li><a href="https://github.com/InternetFreedomFoundation" target="_blank">
        GitHub
    </a></li>
    <li><a href="{{@blog.url}}">&copy; {{date format="YYYY"}} {{@blog.title}}</a></li>
    <li>All contents licensed under CC-BY unless stated otherwise.</li>
</ul>
