<nav class="pagination">
  {{#if prev}}
  <a class="newer-posts" href="{{page_url prev}}">&lt; Newer posts</a>
  {{/if}}
  {{#if next}}
  <a class="older-posts" href="{{page_url next}}">Older posts &gt;</a>
  {{/if}}
</nav>
