/* 0: Normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary {
    display:block;
    box-sizing: border-box;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

/* Typography */

html {
	font: 400 15px Palanquin, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #654;
}

p { line-height: 1.5em; }
h1 { font-weight: 400; font-size: 2.00em; line-height: 1.1em; }
h2 { font-weight: 400; font-size: 1.59em; line-height: 1.3em; }
h3 { font-weight: 700; font-size: 1.26em; line-height: 1.5em; }
h1, h2, h3 { margin: 0 0 1em 0; }

a { text-decoration: none; color: #a64; font-weight: 700; }
a:hover { color: #c75; }

/* Forms */

input, label, textarea {
	line-height: 1em;
	padding: 1em;
	border-radius: 2px;
	border: 1px solid #cba;
	background: #fff;
	color: #543;
	font-weight: 400;
    resize: vertical;
}

label { border: none; background: transparent; }

input[type="button"], input[type="submit"] {
	background: #a64;
    border-color: #a64;
	color: #fff;
	font-weight: 700;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    margin: -0.15em 0.3em 0 0;

}

input[type=button]:hover, input[type=submit]:hover {
	background: #c75;
}

fieldset {
    border: none;
	padding: 0;
	display: flex;
	flex-direction: row;
    margin: 1em 0;
}

fieldset.boxes {
    flex-wrap: wrap;
}

fieldset.stacked { flex-direction: column; }

fieldset > input,
fieldset > label,
fieldset > textarea {
	border-radius: 0;
    border-left-style: none;
    border-left-style: none;
	display: block;
	flex: 4 4 auto;
    width: 0;
}


fieldset > label {
    background: #cba;
    border: 1px solid #cba;
    flex: 1 1 auto;
    width: auto;
}
fieldset > input[type=button],
fieldset > input[type=submit] {
	flex: 0 0 auto;
    width: auto;
}
fieldset > input:first-child,
fieldset > label:first-child,
fieldset > textarea:first-child {
    border-radius: 2px 0 0 2px;
    border-left-style: solid;
}

fieldset > input:last-child,
fieldset > label:last-child,
fieldset > textarea:last-child {
    border-radius: 0 2px 2px 0;
    border-right-style: solid;
}


.conditional { display: none; }
.conditional.show { display: block; }


/* Layout */

html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

.wrapper::before {
	flex: 1 1 auto;
	order: 0;
	content: ' ';
	background: #eee;
}

.wrapper::after {
	flex: 1 1 auto;
	order: 9;
	content:' ';
	background: #fff;
}

header {
	flex: 0 1 auto;
	order: 1;
	width: 24em;
	background: #eee;
	padding: 2em;
}
	.logo {
		max-width: 15em;
		margin: 0 auto 0 auto;
		display: flex;
        flex-direction: column;
        align-items: center;
		padding-bottom: 4em;
	}
        .logo #logo-icon { width: 80%; }
        .logo #logo-gap { width: 20%; }
        .logo #logo-text { width: 100%; }
		.logo path.dark { fill: #543; }
		.logo path.light { fill: #a64; }
		a:hover.logo path.light { fill: #c75; }
		a:hover.logo path.dark { fill: #333; }

        .logo svg {
            flex: 1 1 auto;
        }
        .logo .gap {
            display: none;
            flex: 5 5 auto;
            width: 50%;
        }
        .logo .toggle-menu {
            display: none;
            flex: 0 0 auto;
            text-align: right;
            padding: 2em;
            border-left: 1px solid #c75;
        }

	header nav {
		padding: 1em 1em;
        max-width: 24em;
        margin: 0 auto;
	}

	nav > ul {
		padding: 0 1em;
		list-style: none;
	}
	nav li a {
		display: block;
		line-height: 1em;
		padding: 0.75em 0;
		font-weight: 400;
	}
	nav li.nav-current a {
		color: #543;
	}

    nav.primary {
        border-top: 1px solid #a75;
        border-bottom: 1px solid #a75;
    }

main {
	flex: 0 1 auto;
	order: 2;
	width: 48em;
	padding: 2em;
}
	.hero {
		color: #fff;
		background: #000;
		padding: 30% 3em 3em 3em;
		margin: -2em -2em 2em -2em;
	}
		.hero h1 {
			font-size: 2.52em;
			font-weight: 700;
			margin: 0;
		}
		.hero h2 {
			color: rgba(255, 255, 255, 0.75);
			margin: 0.5em 0 1em 0;
		}

	.intro {
		padding: 2em;
		border-bottom: 1px solid #a64;
	}
		.intro p {
			font-size: 1.26em;
		}

	a.card {
		font-weight: normal;
		color: inherit;
		display: block;
	}
	a.card:hover {
		text-shadow: 0 0 1em #c75;
	}

		article.post {
			padding: 2em;
			border-bottom: 1px solid #a64;
		}

			.post h2 {
				font-weight: 700;
			}

			.post time {
				color: #987;
				float: right;
				line-height: 2em;
			}

	nav.pagination {
		padding: 2em 2em 4em 2em;
	}
		nav.pagination a.newer-posts {
			float: left;
		}
		nav.pagination a.older-posts {
			float: right;
		}



@media screen and (max-width: 768px) {
    .wrapper { flex-direction: column; }
    .wrapper::before { display: none; }

    header { flex-direction: row; }

    .logo {
        flex-direction: row;
        padding: 0;
        border: none;
        margin: 0 0 0 1em;
        max-width: 100%;
    }
    .logo .toggle-menu, .logo .gap { display: block; }
    .logo #logo-icon { width: 20%; }
    .logo #logo-gap { width: 5%; }
    .logo #logo-text { width: 25%; }

    header, main { padding: 1em; position: relative; }
    .hero { margin: -1em -1em 1em -1em; }

    header, main { width: 100%; }
    header .menu {
        display: none;
    }
    header .menu.show {
        display: block;
    }

    header nav.primary { border-top: none; }
}
